.DS_Store
assets/css/style_old.css
assets/css/styles2.css
images/star.jpeg
index2.html
index3.html
index4.html
assets/css/styles_about.css
assets/css/styles_nav.css
index_nav.html
index_test_nav.html
nav.js
script.js