@charset "utf-8";

body{
  margin: 0px;
  padding: 0px;  
  background-color: #25496d
  /* #336699; */
/*     #dee9ed; */
/*     #dbe7eb; */
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
#main{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #dee9ed;
  position: relative;
  /* background-image: url("../../images/me.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; */
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  letter-spacing: 2.3px;
  font-family: Montserrat, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 50px;
  background-color: #eff4f6;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  z-index: 1;
}
.menu{
  display: flex;
}
.logo{
  font-size: 25px;
  font-weight: bold;
  color: #7ba8b7;
}
.menu li a{
  padding: 10px 20px;
  color: #518394;
  font-size: 13px;
}
.lang{
  color: #7ba8b7;
  font-size: 13px;
}
.menu li a:hover,
.active{
  background-color: #9cbec9;
  color: #FFFFFF !important;
  font-weight: 700;
  transition: all ease 0.25s;
}

.column {
  flex: 50%;
}
.row {
  display: flex;
}
.column img {
  position: absolute;
  width: 255px;
  border-radius: 5%;
  left: 65%;
  top: 27%;
}
.name{
  font-family: Montserrat, sans-serif;
  width: 45%;
  position: absolute;
  left: 15%;
  top: 27%;
  /* transform: translate(-10%, -50%); 
  line-height: 4em; */
}
.name .greeting{
  letter-spacing: 2.3px;
  color: #2d4852;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  line-height: 2em;
}
.name p:nth-child(1),
.name .details{
  color: #6c707c;
  font-size: 16px;
  text-align: justify;
  line-height:1.5em;
}
.name h1{
  color: #518394;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 550;
  margin: 0px;
  letter-spacing: 4px;
}
.cv-btn{
  width: 170px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb833;
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
}
.cv-btn:hover{
  background-color: #fac96c;
  transition: all ease 0.3s;
  color: #FFFFFF;
}
.social{
  position: absolute;
  left: 50px;
  bottom: 40px;
  display: flex;
}
.social a{
  margin: 5px 12px;
}
.social i{
  color: rgba(18, 18, 18, 0.4);
  font-size: 20px;
}
.social a:hover i{
  color: #ffb833;
  transition: all ease 0.5s;
}

#about{
  width:100%;
  height: 100vh;
  box-sizing: boarder-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 10%;
}
.skills li{
  padding: 3px 20px;
  color: #9dc6d3;
  font-size: 13px;
}
.about-avatar img {
  position: absolute;
  width: 255px;
  border-radius: 5%;
  left: 65%;
  top: 127%;
}
.about-text{
  font-family: Montserrat, sans-serif;
  width: 55%;
}
.about-text h1{
  font-size: 5rem;
  color:#17d1ce;
}
.about-text h2{
  font-size: 3rem;
  color:#FFFFFF;
  font-weight: 400;
  padding-bottom: 20px;
}
.about-text h3{
  padding-top: 20px;
  font-size: 1.2rem;
  color: #3690d5;
}
.about-text h1,h2{
  margin: 0px;
  padding: 0px;
}
.about-text p{
  font-size: 1.1rem;
  color:rgba(250, 250, 250, 0.9);
  text-align: justify;
  line-height:1.5em;
  padding-left: 5px;
  padding-top: 3%;
}

#education{
  width: 100%;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding-top: 15%;
  background-color: #9cbec9;
}
.edu-heading h1{
  font-family: Noto;
  letter-spacing: 0.4em;
  font-size: 25px;
  color:#155176;
}
.edu-heading h4{
  font-size: 1.2rem;
  color: #162e45;
  padding-top: 30px;
  display: inline-block;
}
#loc{
  margin-left: 20px;
  font-style: italic;
}
#dates{
  text-indent: 20px;
}
.edu-heading p{
  color: #366362;
  line-height: 1.5em;
  /* text-indent: 15px; */
  /* padding-bottom: 2em; */
}

#research{
  width: 100%;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding-top: 15%;
  background-color: #5a8a6b;
}

#projects{
  width: 100%;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding-top: 15%;
  background-color: #47565b;
}

#contact{
  width: 100%;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding-top: 15%;
  background-color: #8873a4;
}