@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;  
  background-color: #dee9ed;
  position: relative;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/* NAVBAR */
#main{
  width: 100%;
  height: border-box;
}
div#nav-bar a#logo{
  color: #7ba8b7;
  font-size: 25px;
  font-weight: normal;
}
div#nav-bar a#lang{
  color: #7ba8b7;
  font-size: 13px;
  padding-top: 10px;
  font-weight: lighter;
}
nav#my-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2.4px;
  font-family: Montserrat, sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 2.5px 50px;
  background-color: #eff4f6;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  z-index: 1;
  backdrop-filter: blur(10px);
}
ul#menu{
  margin: auto;
  padding: 0px;
  font-weight: 300;
}
ul#menu li#menu-item a#menu-link{
  color: #518394;
  font-size: 13px;
  padding: 7px 20px;
}
ul#menu li#menu-item a#menu-link:hover,
.active{
  background-color: #9cbec9;
  color: #FFFFFF !important;
  transition: all ease 0.25s;
}

/* INTRO */
#intro{
  width: 100%;
  height: auto;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction:column;
  margin: auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 30px;
}
.a-box{
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  margin-top: 150px;
  padding: 0px;
}
.a-box:after {
  content: "";
  display: table;
  clear: left;
}
.a-box-fig{
  order: 1;
  float: right;
  margin-top: 50px;
  margin: auto 80px;
  padding: 0px 0px 0px 20px;
}
.a-box-fig img{
  width: 200px;
  border-radius: 5px;
}
.a-box-text{
  order: 0;
  max-width: 650px;
  margin: 0px;
  line-height: 1.5;
}
.a-bull{
  margin: 0px;
  padding: 0px 0px 17px 0px;
}
.greeting{
  color: #2d4852;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 2.3px;
  line-height: 2em;
}
.name h1{
  color: #518394;
  font-size: 3rem;
  font-weight: 550;
  letter-spacing: 4px;
  margin: 0px;
}
.name h4{
  color: #7a7f8c;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 20px;
}
.a-details{
  color: #5e616c;
  font-size: 15px;
  text-align: justify;
  line-height:1.5em;
  padding-bottom: 10px;
  padding-right: 20px;
}
.cv-btn{
  width: 170px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb833;
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
}
.cv-btn:hover{
  background-color: #fac96c;
  transition: all ease 0.3s;
  color: #FFFFFF;
}
.social{
  position: fixed;
  left: 50px;
  bottom: 40px;
  display: flex;
}
.social a{
  margin: 5px 12px;
}
.social i{
  color: rgba(18, 18, 18, 0.4);
  font-size: 20px;
}
.social a:hover i{
  color: #ffb833;
  transition: all ease 0.5s;
}

#about{
  width: 100%;
  height: border-box;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.s-details{
  color: #5e616c;
  font-size: 15px;
  text-align: justify;
  line-height:1.5em;
  padding: 0px 10px;
}



#education{
  width: 100%;
  height: border-box;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.e-box{
  width: 80%;
  max-width: 890px;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}
.e-date{
  float: right;
  font-size: 12px;
  /* margin-right: 50px; */
  margin-top: 5px;
}
.e-name{
  color:#494b52;
  font-size: 1rem;
  margin: auto;
  padding: 0px 10px 0px 10px; 
}
.e-details{
  color:#5a5f6c;
  font-size: 12px;
  margin-top: 3px 0px 5px 0px;
  padding-left: 20px;
  line-height: 1.5;
}


#research{
  width: 100%;
  height: border-box;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  padding: 0;
}
.r-heading{
  width: 80%;
  max-width: 890px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #518394;
  font-weight: 300;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 55px;
  padding: 0px;
  position: relative;
}
.r-heading span{
  background-color: #dee9ed;
  padding: 0px 10px;
}
.r-heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #518394;
  z-index: -1;
}
.r-list{
  width: 80%;
  max-width: 890px;
  border-radius: 10px;
  margin: auto;
  padding: 10px 10px 20px 10px;
}
.r-list:after {
  content: "";
  display: table;
  clear: left;
}
.r-tag{
  letter-spacing: 0.1em;
  color:#494b52;
  font-size: 1.2rem;
  margin: auto;
  padding: 0px 0px 5px 0px; 
}
.r-box-fig{
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}
.r-box-fig img{
  width: 250px;
  border-radius: 5px;
}
.r-box-text{
  margin: 0px;
  line-height: 1.5;
}
.r-details{
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: justify;
}
.r-bull ul,li{
  list-style-type: none;
}
.r-bull{
  margin: 0px;
  padding: 0px;
}
.r-bull b{
  color: #253d5d;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.r-bull i{
  color: #494b52;
  font-size: 13px;
  margin-bottom: 20px;
  line-height: 0;
}
.b-pdf{
  background: #f4aa44;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 7px 0 0;
  cursor: pointer;
}
.b-present{
  background:#2b687d;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 7px 0 0;
  cursor: pointer;
}
.b-vid{
  background:#D77a61;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 7px 0 0;
  cursor: pointer;
}
.b-misc{
  background:#B29476;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 7px 0 0;
  cursor: pointer;
}


/* Projects */
#projects{
  width: 100%;
  height: border-box;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  padding: 0;
  /* background-color: #dee9ed; */
}
div#pr-box{
  margin: auto;
  width: 80%;
  max-width: 890px;
}
.scrolling-wrapper{
	overflow-x: auto;
}
.card-block{
	min-height: 300px;
	background-color: #dee9ed;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}
.card-block:hover{
  transform: translateY(-5px);
  box-shadow: none;
  opacity: 0.9;
}
p#p-details{
  color:#162e45;
  font-size: 1rem;
  width: 80%;
  max-width: 890px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: auto;
  padding: 10px 10px 20px 10px;
  position: relative;
}
.p-b-img{
  min-width: 200px;
  max-width: 100%;
}
.p-b-text{
  width: 100%;
  background-color:#bdd3db;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-b-text a{
  margin: 0px;
  color:#2d4852;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  display: block;
  display: -webkit-box;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 80%;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.p-type{
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color:#162e45;
  background-color:#bdd3db;
  padding: 3px 33px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
img#card-img {
  max-width: 100%;
  min-width: 200px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
div#card-text {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-top: 5px;
}


/* Programming */
#skills{
  width: 100%;
  height: border-box;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  padding: 0;
}
.bar {
  width: 85%;
  margin: 1.7em auto;
}
.skill {
  font-size: .9em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.speech-bubble {
  font-size: 0.75em;
  line-height: 2em;
  position: absolute;
  top: -2.7em;
  text-align: center;
  min-width: 3em;
  border-radius: 0.3em;
  display: none;
}
.speech-bubble:after {
  border: 0.5em solid transparent;
  content: "";
  margin-left: -0.5em;
  position: absolute;
  top: 100%;
  left: 50%;
}
.bar-outer {
  height: 1.25em;
  background: #EEEEEE;
  position: relative;
  border-radius: 0.3em;
}
.bar-inner {
  width: 0;
  height: 1.25em;
  border-radius: 0.3em;
}
.jv, .py{
  text-align: right;
  color:#FFFFFF;
  padding-right: 2px;
  width: 90%; 
  background-color:#6a589470;
}
.cpp{
  text-align: right;
  color:#FFFFFF;
  padding-right: 2px;
  width: 85%; 
  background-color:#6dabbfcf;
}
.cs {
  text-align: right;
  color:#FFFFFF;
  padding-right: 2px;
  width: 35%; 
  background-color:#f6867cc1;
}
.ht {
  text-align: right;
  color:#FFFFFF;
  padding-right: 2px;
  width: 50%; 
  background-color:#a0bf6d51;
}
.js {
  text-align: right;
  color:#FFFFFF;
  padding-right: 2px;
  width: 20%; 
  background-color:#f6867c7b;
}
.sv {
  text-align: right;
  color:#FFFFFF;
  padding-right: 2px;
  width: 65%; 
  background-color:#a0bf6d85;
}
.s-box{
  width: 80%;
  max-width: 890px;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}
ul#sk-ul{
  padding: 0px;
}
.sk-l li{
  color: #272b2c;
  font-size: 13px;
  padding: 0px 0px 20px 20px;
  list-style:inside;
}


